
NameSorter/NameSorter/obj/netcoreapp2.1/win10-x64/host/NameSorter.exe
NameSorter/NameSorter/obj/project.assets.json
NameSorter/NameSorter/obj/Release/netcoreapp2.1/NameSorter.AssemblyInfo.cs
NameSorter/NameSorter/obj/Release/netcoreapp2.1/NameSorter.AssemblyInfoInputs.cache
NameSorter/NameSorter/obj/Release/netcoreapp2.1/NameSorter.assets.cache
NameSorter/NameSorter/obj/Release/netcoreapp2.1/NameSorter.csproj.CoreCompileInputs.cache
NameSorter/NameSorter/obj/Release/netcoreapp2.1/NameSorter.csprojAssemblyReference.cache
NameSorter/NameSorter/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NameSorter/NameSorter/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NameSorter/NameSorter/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/name-sorter.dll
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/name-sorter.pdb
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/NameSorter.AssemblyInfo.cs
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/NameSorter.AssemblyInfoInputs.cache
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/NameSorter.assets.cache
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/NameSorter.csproj.CoreCompileInputs.cache
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/NameSorter.csproj.FileListAbsolute.txt
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/NameSorter.csprojAssemblyReference.cache
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/win10-x64/name-sorter.dll
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/win10-x64/name-sorter.pdb
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/win10-x64/NameSorter.AssemblyInfo.cs
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/win10-x64/NameSorter.AssemblyInfoInputs.cache
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/win10-x64/NameSorter.assets.cache
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/win10-x64/NameSorter.csproj.CoreCompileInputs.cache
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/win10-x64/NameSorter.csproj.FileListAbsolute.txt
NameSorter/NameSorter/obj/Debug/netcoreapp2.1/win10-x64/NameSorter.csprojAssemblyReference.cache
NameSorter/NameSorter/obj/NameSorter.csproj.nuget.cache
NameSorter/NameSorter/obj/NameSorter.csproj.nuget.g.props
NameSorter/NameSorter/obj/NameSorter.csproj.nuget.g.targets
NameSorter/NameSorter/obj/netcoreapp2.1/win10-x64/host/name-sorter.exe
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.AssemblyInfo.cs
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.AssemblyInfoInputs.cache
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.assets.cache
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.csproj.CopyComplete
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.csproj.CoreCompileInputs.cache
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.csproj.FileListAbsolute.txt
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.csprojAssemblyReference.cache
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.dll
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.pdb
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/NameSorterTest.Program.cs
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.AssemblyInfo.cs
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.AssemblyInfoInputs.cache
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.assets.cache
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.csproj.CopyComplete
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.csproj.CoreCompileInputs.cache
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.csproj.FileListAbsolute.txt
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.csprojAssemblyReference.cache
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.dll
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.pdb
NameSorter/NameSorterTest/obj/Debug/netcoreapp2.1/win10-x64/NameSorterTest.Program.cs
NameSorter/NameSorterTest/obj/NameSorterTest.csproj.nuget.cache
NameSorter/NameSorterTest/obj/NameSorterTest.csproj.nuget.g.props
NameSorter/NameSorterTest/obj/NameSorterTest.csproj.nuget.g.targets
NameSorter/NameSorterTest/obj/project.assets.json
/NameSorter/NameSorter/05 Documentation/.~lock.rough-design v1.0.odg#
/NameSorter/NameSorter/05 Documentation/.~lock.[name-sorter] Manual v1.0.odt#
/NameSorter/NameSorter/05 Documentation/.~lock.[name-sorter] Manual v1.0.odt#
NameSorter/.vs/NameSorter/v15/.suo
NameSorter/.vs/NameSorter/DesignTimeBuild/.dtbcache
NameSorter/.vs/NameSorter/v15/Server/sqlite3/storage.ide-wal
NameSorter/.vs/NameSorter/DesignTimeBuild/.dtbcache
NameSorter/.vs/NameSorter/v15/.suo
NameSorter/.vs/NameSorter/v15/Server/sqlite3/storage.ide-wal
NameSorter/.vs/NameSorter/DesignTimeBuild/.dtbcache
NameSorter/.vs/NameSorter/v15/.suo
NameSorter/.vs/NameSorter/v15/Server/sqlite3/storage.ide-wal
*.ide-wal
NameSorter/.vs/NameSorter/DesignTimeBuild/.dtbcache
NameSorter/.vs/NameSorter/v15/.suo
NameSorter/.vs/NameSorter/v15/Server/sqlite3/storage.ide-wal
NameSorter/.vs/NameSorter/DesignTimeBuild/.dtbcache
NameSorter/.vs/NameSorter/v15/.suo
NameSorter/.vs/NameSorter/v15/Server/sqlite3/storage.ide-wal
